.chooseBtnWrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.chooseBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: white;
  box-sizing: content-box;
  width: 60px;
}

.bounce {
  transition: all 0.2s ease-in-out;
}
.bounce:hover {
  transform: translateY(-15px);
}

.playBtn {
  background-color: #ffc82a;
  padding: 10px 30px;
  margin-top: 50px;
  font-weight: bold;
}
